<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= project.link %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= project.image %>
  </p>

</div>
