<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>w$-Wallop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container d-flex align-items-center justify-content-start">
        <%= link_to "w$ wallop.dev", root_path, class: "navbar-brand fw-bold me-4" %>

        <ul class="navbar-nav d-flex flex-row custom-gap mb-0">
          <li class="nav-item">
            <%= link_to t("site.home"), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("site.about"), about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("site.projects"), projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("site.contact"), contact_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <%= render "layouts/locale_links" %>
    </nav>


    <div class="container mt-4">
      <%= yield %>
    </div>
      
    <footer class="footer mt-auto py-3 bg-light text-center">
      <div class="container">
        <span>&copy; 2025 <a href="https://wallop.dev/" rel="noopener" target="_blank">dev_wallop</a></span> ·
        <span>Powered by <a href="https://github.com/wallisson-tech" rel="noopener" target="_blank">Wallisson-Tech</a></span>
      </div>
    </footer>

  </body>
</html>
