<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>DevWallop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"> w$ wallop.dev</a>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sobre", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Projetos", projects_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contato", contact_path, class: "nav-link" %></li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
    <%= yield %>
  </body>
</html>
